<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bb.css">
    <title>Contacts</title>
</head>
<body>
    <div class="header">
        <a class="pname">Alen turing</a>
        <a class="pemail">sdasdasdasdasdasd@gmail.com</a>
    </div>
    <div class="clist">
        <h3>Contacts</h3>
        <br> 
        <div class="contacts-header thead">
            <span class="th" id="th-name">NAME</span>
            <span class="th" id="th-email">EMAIL</span>
            <span class="th" id="th-phone">PHONE</span>
        </div>
        <ul class="tbody">
            <li class="tr">
              <span class="td">
                <span class="data" id="nam">La Nordmann</span>
              </span>  
              <span class="td">
                <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
              </span>  
              <span class="td">
                <span class="data" id="ph">8000664484484</span>
              </span>  
            </li>
            <li class="tr">
                <span class="td">
                  <span class="data" id="nam">La Nordmann</span>
                </span>  
                <span class="td">
                  <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                </span>  
                <span class="td">
                  <span class="data" id="ph">8000664484484</span>
                </span>  
              </li>
              <li class="tr">
                <span class="td">
                  <span class="data" id="nam">La Nordmann</span>
                </span>  
                <span class="td">
                  <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                </span>  
                <span class="td">
                  <span class="data" id="ph">8000664484484</span>
                </span>  
              </li>
              <li class="tr">
                  <span class="td">
                    <span class="data" id="nam">La Nordmann</span>
                  </span>  
                  <span class="td">
                    <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                  </span>  
                  <span class="td">
                    <span class="data" id="ph">8000664484484</span>
                  </span>  
                </li>
                <li class="tr">
                    <span class="td">
                      <span class="data" id="nam">La Nordmann</span>
                    </span>  
                    <span class="td">
                      <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                    </span>  
                    <span class="td">
                      <span class="data" id="ph">8000664484484</span>
                    </span>  
                  </li>
                  <li class="tr">
                      <span class="td">
                        <span class="data" id="nam">La Nordmann</span>
                      </span>  
                      <span class="td">
                        <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                      </span>  
                      <span class="td">
                        <span class="data" id="ph">8000664484484</span>
                      </span>  
                    </li>
                    <li class="tr">
                        <span class="td">
                          <span class="data" id="nam">La Nordmann</span>
                        </span>  
                        <span class="td">
                          <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                        </span>  
                        <span class="td">
                          <span class="data" id="ph">8000664484484</span>
                        </span>  
                      </li>
                      <li class="tr">
                          <span class="td">
                            <span class="data" id="nam">La Nordmann</span>
                          </span>  
                          <span class="td">
                            <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                          </span>  
                          <span class="td">
                            <span class="data" id="ph">8000664484484</span>
                          </span>  
                        </li>
                        <li class="tr">
                            <span class="td">
                              <span class="data" id="nam">La Nordmann</span>
                            </span>  
                            <span class="td">
                              <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                            </span>  
                            <span class="td">
                              <span class="data" id="ph">8000664484484</span>
                            </span>  
                          </li>
                          <li class="tr">
                              <span class="td">
                                <span class="data" id="nam">La Nordmann</span>
                              </span>  
                              <span class="td">
                                <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                              </span>  
                              <span class="td">
                                <span class="data" id="ph">8000664484484</span>
                              </span>  
                            </li>
                            <li class="tr">
                                <span class="td">
                                  <span class="data" id="nam">La Nordmann</span>
                                </span>  
                                <span class="td">
                                  <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                </span>  
                                <span class="td">
                                  <span class="data" id="ph">8000664484484</span>
                                </span>  
                              </li>
                              <li class="tr">
                                  <span class="td">
                                    <span class="data" id="nam">La Nordmann</span>
                                  </span>  
                                  <span class="td">
                                    <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                  </span>  
                                  <span class="td">
                                    <span class="data" id="ph">8000664484484</span>
                                  </span>  
                                </li>
                                <li class="tr">
                                    <span class="td">
                                      <span class="data" id="nam">La Nordmann</span>
                                    </span>  
                                    <span class="td">
                                      <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                    </span>  
                                    <span class="td">
                                      <span class="data" id="ph">8000664484484</span>
                                    </span>  
                                  </li>
                                  <li class="tr">
                                      <span class="td">
                                        <span class="data" id="nam">La Nordmann</span>
                                      </span>  
                                      <span class="td">
                                        <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                      </span>  
                                      <span class="td">
                                        <span class="data" id="ph">8000664484484</span>
                                      </span>  
                                    </li>
                                    <li class="tr">
                                        <span class="td">
                                          <span class="data" id="nam">La Nordmann</span>
                                        </span>  
                                        <span class="td">
                                          <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                        </span>  
                                        <span class="td">
                                          <span class="data" id="ph">8000664484484</span>
                                        </span>  
                                      </li>
                                      <li class="tr">
                                          <span class="td">
                                            <span class="data" id="nam">La Nordmann</span>
                                          </span>  
                                          <span class="td">
                                            <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                          </span>  
                                          <span class="td">
                                            <span class="data" id="ph">8000664484484</span>
                                          </span>  
                                        </li>
                                        <li class="tr">
                                            <span class="td">
                                              <span class="data" id="nam">La Nordmann</span>
                                            </span>  
                                            <span class="td">
                                              <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                            </span>  
                                            <span class="td">
                                              <span class="data" id="ph">8000664484484</span>
                                            </span>  
                                          </li>
                                          <li class="tr">
                                              <span class="td">
                                                <span class="data" id="nam">La Nordmann</span>
                                              </span>  
                                              <span class="td">
                                                <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                              </span>  
                                              <span class="td">
                                                <span class="data" id="ph">8000664484484</span>
                                              </span>  
                                            </li>
                                            <li class="tr">
                                                <span class="td">
                                                  <span class="data" id="nam">La Nordmann</span>
                                                </span>  
                                                <span class="td">
                                                  <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                </span>  
                                                <span class="td">
                                                  <span class="data" id="ph">8000664484484</span>
                                                </span>  
                                              </li>
                                              <li class="tr">
                                                  <span class="td">
                                                    <span class="data" id="nam">La Nordmann</span>
                                                  </span>  
                                                  <span class="td">
                                                    <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                  </span>  
                                                  <span class="td">
                                                    <span class="data" id="ph">8000664484484</span>
                                                  </span>  
                                                </li>
                                                <li class="tr">
                                                    <span class="td">
                                                      <span class="data" id="nam">La Nordmann</span>
                                                    </span>  
                                                    <span class="td">
                                                      <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                    </span>  
                                                    <span class="td">
                                                      <span class="data" id="ph">8000664484484</span>
                                                    </span>  
                                                  </li>
                                                  <li class="tr">
                                                      <span class="td">
                                                        <span class="data" id="nam">La Nordmann</span>
                                                      </span>  
                                                      <span class="td">
                                                        <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                      </span>  
                                                      <span class="td">
                                                        <span class="data" id="ph">8000664484484</span>
                                                      </span>  
                                                    </li>
                                                    <li class="tr">
                                                        <span class="td">
                                                          <span class="data" id="nam">La Nordmann</span>
                                                        </span>  
                                                        <span class="td">
                                                          <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                        </span>  
                                                        <span class="td">
                                                          <span class="data" id="ph">8000664484484</span>
                                                        </span>  
                                                      </li>
                                                      <li class="tr">
                                                          <span class="td">
                                                            <span class="data" id="nam">La Nordmann</span>
                                                          </span>  
                                                          <span class="td">
                                                            <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                          </span>  
                                                          <span class="td">
                                                            <span class="data" id="ph">8000664484484</span>
                                                          </span>  
                                                        </li>
                                                        <li class="tr">
                                                            <span class="td">
                                                              <span class="data" id="nam">La Nordmann</span>
                                                            </span>  
                                                            <span class="td">
                                                              <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                            </span>  
                                                            <span class="td">
                                                              <span class="data" id="ph">8000664484484</span>
                                                            </span>  
                                                          </li>
                                                          <li class="tr">
                                                              <span class="td">
                                                                <span class="data" id="nam">La Nordmann</span>
                                                              </span>  
                                                              <span class="td">
                                                                <span class="data" id="emai">ascscsw.ssasd.aaaaaaa@gmail.com</span>
                                                              </span>  
                                                              <span class="td">
                                                                <span class="data" id="ph">8000664484484</span>
                                                              </span>  
                                                            </li>
        </ul>
      
       

    </div>
</body>
</html>