<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="//ssl.gstatic.com/images/branding/product/2x/contacts_64dp.png" sizes="128x128">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" href="//ssl.gstatic.com/images/branding/product/1x/contacts_96dp.png" sizes="96x96">
    <link rel="stylesheet" href="/frontend/login.css">
    <title>Contacts App</title>
</head>
<body>
    <div class='loginbox'>
        <div class='hq'>  
            Sign In with Google
        </div>
        <button onclick="location.href='/auth'" type="button">Sign In</button>
    </div>
</body>
</html>